*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Mono', monospace;
}

body{
    background-color: rgb(201, 199, 187);
}

.header{
    display: flex;
    background-color: rgb(137, 134, 134);
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header .icono h1 a{
    text-decoration: none;
    color: black;
}

.header .icono h1 a:hover{
    color: rgb(78, 9, 78);
}

.icono{
    display: flex;
    align-items: center;
    
}

.header .icono img{
    width: 70px;
    cursor: pointer;
}

.header .icono img:hover{
    transform: scale(1.2);
}

.header .icono h1{
    padding-left: 10px;
    font-size: 40px;
    cursor: pointer;
}


.header .icono h1:hover{
    transform: scale(1.2);
    color: rgb(78, 9, 78);
}

.header .nav-links{
    list-style: none;
}


.header .nav-links li{
    display: inline-block;
    padding: 0 25px;
}

.header .nav-links li:hover{
    transform: scale(1.2);

}


.header .nav-links li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
   
.header .nav-links li a:hover{
    color: rgb(160, 6, 160);
}


.header .nav-links li i:hover{
    color: rgb(160, 6, 160);
}










.navegador{
    background-color: rgb(219, 210, 210);
    height: 50px;
}

    
.navegador .links-navegar{
    display: flex;
    justify-content: center;
}

.navegador .links-navegar li{
    display: inline-block;
    padding: 15px 20px;
}


.navegador .links-navegar li a{
    text-decoration: none;
    color:black;
    font-size: 15px;
}

.navegador .links-navegar li:hover{
    transform: scale(1.2);
}











.introducir #ingresa-tu-telefono{
    padding: 80px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(219, 210, 210);
    

}




.introducir{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 600px;
    margin: 100px auto;
    border-radius: 7px;
}

.introducir .primer{
    display: inline-block;
    margin-top:50px;
    margin-left: 100px;
}

.aceptar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primer p{
    padding-top: 20px;
    
}

.primer input{
    width: 300px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    

}


.aceptar a{
    padding: 10px 0;
    text-decoration: none;
}

.aceptar .uno button{
    height: 40px;
    width: 300px;
    background-color: rgb(11, 86, 199);
    color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.aceptar .dos button{
    width: 500px;
    height: 50px;
    background-color: white;
    border: 0px;
    cursor: pointer;
    
}
.aceptar .dos button:hover{
    background-color: rgb(247, 247, 247);
}